@import "../main/styles/App.scss";

.login-background {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    background:  #87BFB2;
}

.login-background .login-wrapper {
    
    background-color: #52887b;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'IBM Plex Sans', serif;
}

.login-wrapper {
    max-width: 100%;
    min-width: 350px;
    padding: 40px;
    border-radius: 10px;
}

Button {
    background-color: #1b5a4b !important;
    color: white !important;
    border-color: #1b5a4b !important;
    font-weight: 400 !important;
}

Button:active {
    border-color: #094436 !important;
    -webkit-box-shadow: 0px 0px 18px 3px rgba(5,35,28,0.3) !important; 
    box-shadow: 0px 0px 18px 3px rgba(5,35,28,0.3) !important;
}

.btn-submit:active {
    border-color: none !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.form-control:active {
    box-shadow: none !important;
    border-color: #1b5a4b !important;
}


.label {
    text-align: center;
    font-family: 'IBM Plex Sans', serif;
}

.form-group {
    width: 340px;
}

.h1-login {
    font-size: 2.5rem;
}
