@import "./common.scss";

.form-group {
    width: 100%;
}

// .insert-box {
//     background-color: #3a9782;
//     padding: 20px 20px 60px 20px;
//     border-radius: 20px;
//     color: #FFF;
//     margin-bottom: 10px;
// }

.insert-box {
    background-color: #fcf7f6;
    padding: 20px 20px 60px 20px;
    border-radius: 20px;
    color: #063133;
    margin-bottom: 10px;
}