@import "../../main/styles/App.scss";
@import './input.css';

.main {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; // Necessário para tornar a página scrollável
    background-color: #87BFB2;
    
}

.btn-right {
    float: right;
}

.btn-right Button {
    margin-left: 10px;
}


.background {
    width: 100%;
    background:  #87BFB2;
}

.btn-submit {
    background-color: #1b5a4b !important;
    color: white !important;
    border-color: #1b5a4b !important;
    font-weight: 600 !important;
}

.btn-submit:active {
    border-color: #094436 !important;
    -webkit-box-shadow: 0px 0px 18px 3px rgba(5,35,28,0.3) !important; 
    box-shadow: 0px 0px 18px 3px rgba(5,35,28,0.3) !important;
}

.btn-submit:active {
    border-color: none !important;
}

.form-control {
    width: 100% !important;
    font-family: 'IBM Plex Sans', sans-serif !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.form-control:active {
    box-shadow: none !important;
    border-color: #1b5a4b !important;
}


.label {
    text-align: center;
    font-family: 'IBM Plex Sans', serif;
}

Button {
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-weight: 400 !important;
}


Table th {
    background-color: #fcf7f6 !important;
    color: #063133;
}

Table tr:nth-child(odd) {
    background-color: rgba(27, 90, 75, 0.65);
    color: white;

}

Table tr:nth-child(even) {
    background-color: rgba(27, 90, 75, 0.60);
    color: white;
}

Table tbody tr:hover td {
    background-color: rgba(255, 255, 255, 0.5);
    color: #063133;
}