// Import estilos básicos da sidebar
@import '~react-pro-sidebar/dist/scss/styles.scss';

// Import bootstrap
@import "~bootstrap/scss/bootstrap-grid";

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');


// Sidebar
.pro-sidebar .pro-menu .pro-menu-item {

    color: #9ce0d0;
    opacity: 0.8;
    font-size: 20px;
    font-style: italic;   
    
}

.bgLoading {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
	background:  #87BFB2,;
}

.textLoading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-menu {
    font-family: 'Lora', sans-serif;

    // Esconde scrollbar 
    ::-webkit-scrollbar {
        display: none;
    }

    // Definições para o logo na sidebar
    .logoSidebar {
        width: 80%;
        color: #9ce0d0;
        margin: 5px 10% 5px 10%;
    }
}

.footerSidebar {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

// Raid da página
#root {
    height: 100%;
}

*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #87BFB2;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #063133;
    border-radius: 20px;
    border: 3px solid  #87BFB2;
  }



body {

    // A página usa todo o espaço vertical
    height: 100vh;
}

// Definições de estilo para o projeto como um todo
.app {
    height: 100vh;
    display: flex;
    position: relative;
    font-family: 'Lora', sans-serif;

    // Botão para abrir menu lateral em telas menores
    .btn-toggle {
        cursor: pointer;
        width: 35px;
        height: 35px !important;

        // Mesmo background do fundo
        background: #87BFB2;
        color: #101010;
        text-align: center;
        border-radius: 50%;

        // Display:none para esconder na versão desktop
        display: none;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }


    // Conteúdo principal a ser exibido
    .main {
        padding: 24px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow-y: auto; // Necessário para tornar a página scrollável
        background-color: #87BFB2;

        
        
    }


    // Estilo para o nome da página
    .categoryName {        
        font-weight: bold;
        color: #063133;

        &.contact {
            margin-bottom: 0px;
        }
    }

    // Parágrafo na página Sobre Nós
    .paragraph {
        margin-bottom: 20px;
        font-size: 19px;
        text-align: justify;
        

        &.secondary {
            font-style: italic;
        }

        &.contactText {
            display: inline;
            margin-top: 1px;
            margin-left: 12px;
            font-size: 20px;
        }

    }

    .tabbed {
        text-indent: 50px;
    }

    .horarioTitle {
        color: #063133;
    }

    // .location {
    //     text-align: center;
    // }

    // Footer página principal
    .footerMain {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    a {
        font-style: italic;
        color: #122B26;

        .contactText {
            font-weight: 500;
        }

        :visited {
            color: #204e44;
        }

    }

    // Estilo para itens na lista
    // Nome
    .itemName {
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: bold;
        color: #063133;
    }

    // Descrição
    .itemDesc {
        margin-bottom: 10px;
        font-style: italic;
        font-weight: 400;
        color: #202020;

        font-size: 20px;
        font-family: 'IBM Plex Sans', serif;

    }

    .itemType {
        font-weight: 400;
        color: #202020;
        
        font-size: 18px;
        font-family: 'IBM Plex Sans', serif;

        
    }

    .extraItem {
        font-size: 22px;
        font-weight: bold;

        text-transform: uppercase;
        font-style: italic;

        color: #063133;

        margin-top: 25px;
        margin-bottom: 5px;
    }

    .extraItemDesc {
        font-style: italic;
        color: #202020;
    
        font-size: 18px;
        font-family: 'IBM Plex Sans', serif;
    }

    // Preço
    .itemPreco {
        font-weight: 600;
        font-size: 25px;

        color: #063133;
        margin-bottom: 10px;
        //margin-right: 10px;
        font-family: 'IBM Plex Sans', serif;
    }

    .itemPrecoGroup {
        display: inline-block;
        margin-right: 40px;
    }

    // Grupo que contém o item
    .itemGroup {
        margin-bottom: 15px;
        margin-top: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .smallDivider {
        display: inline-block;
        width: 50px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }

    // Estilo para imagens no estilo mobile
    .heroImgMobile {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        display: none;
        opacity: 0.85;
        border-radius: 10px;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    }

    // Estilo para imagens 
    .heroImg {
        width: 90%;
        height: auto;
        margin-left: 5%;
        opacity: 0.85;
        border-radius: 10px;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    }

    .contactIcon {
        display: inline;
        width: 25px;
        height: 25px;
    }

    .contactGroup {
        display: inline;
    }

    // Estilo para o mapa
    // Mapa em si
    .google-map {
        
        height: 300px;
        width: 100%;

    }
    
    // Pin
    .pin {
        display: flex;
        align-items: center;
        width: 150px;
    }
    
    // Ícone do pin
    .pin-icon {
        font-size: 5vw;
    }

    // Estilo para telas muito pequenas
    @media (max-width: $breakpoint-sm) {

        .google-map {
            width: 100%;
        }
    }

    // Estilo para telas muito pequenas e pequenas
    @media (max-width: $breakpoint-md) {

        // Mostrar botão
        .btn-toggle {
            display: flex;
            flex-direction: row;
        }
        
        // Mudança no tamanho do pin do mapa
        .pin {
            display: flex;
            align-items: center;
            width: 150px;
            color: var(--main-blue);
        }
          
        // Tamanho do pin no mapa
        .pin-icon {
            font-size: 5vw;
        }
          
        // Tamanho do texto do pin
        .pin-text {
            font-size: 1.3em;
        }

    }

    // Estilos para telas medias e menores
    @media (max-width: $breakpoint-lg) {

        // Mostra um estilo de imagem
        .heroImgMobile {
            display: inline;
        }

        // Esconde outro estilo
        .heroImg {
            display: none;
        }

    }

    @media (max-width: $breakpoint-xl) {
        // Placeholder
        
    }

}

.lds-ripple {
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-ripple div {
    position: absolute;
    border: 4px solid #204e44;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }

  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {

    0% {

        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
  }
