// Import estilos básicos da sidebar
@import '~react-pro-sidebar/dist/scss/styles.scss';
@import "~bootstrap/scss/bootstrap-grid";

// Import font
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

$sidebar-color: #9ce0d0;


.pro-sidebar .pro-menu .pro-menu-item {

    color: $sidebar-color;
    opacity: 0.8;
    font-size: 20px;
    font-style: italic;   
    
}

.side-menu {
    font-family: 'Lora', sans-serif;
}

body {
    height: 100vh;
}

.side-menu {

    height: 100%;

    .logoSidebar {
        width: 80%;
        color: $sidebar-color;
        margin: 5px 10% 5px 10%;
    }
}

.app {
    height: 100vh;
    display: flex;
    position: relative;
    font-family: 'Lora', sans-serif;

    // Botão para abrir menu lateral em telas menores
    .btn-toggle {
        cursor: pointer;
        width: 35px;
        height: 35px !important;
        background: #87BFB2;
        color: #101010;
        text-align: center;
        border-radius: 50%;
        display: none;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }

    // Conteúdo principal a ser exibido
    .main {
        padding: 24px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow-y: auto; // Necessário para tornar a página scrollável
        background-color:#87BFB2;
        
    }

    .headerData {
        flex-direction: row;
    }

    

    // Estilo para itens
    // Nome
    .itemName {
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: bold;
        color: #063133;
        //text-transform: uppercase;
        //opacity: 90%;
    }

    // Desc
    .itemDesc {
        margin-bottom: 10px;
        font-style: italic;
        font-weight: 400;
        color: #202020;
        //opacity: 95%;
        font-size: 18px;
        font-family: 'IBM Plex Sans', serif;

    }

    // Preço
    .itemPreco {
        font-weight: 600;
        font-size: 25px;
        color: #063133;
        margin-bottom: 10px;
        font-family: 'IBM Plex Sans', serif;
    }

    .categoryName {        
        font-weight: bold;
        color: $sidebar-color;
        color: #063133;
    }

    // Grupo que contém o item
    .itemGroup {
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .heroImgMobile {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        display: none;
        opacity: 0.85;
        border-radius: 10px;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    }

    .heroImg {
        width: 30%;
        height: auto;
        display: none;
    }

    .logo {
        width: 150px;
        height: auto;
        display: flex;   
    }

    // .line {
    //     width: 100px;
    //     border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    //     margin-bottom: 7px;
    // }

    // Mostrar botão apenas com telas menores que md
    @media (max-width: $breakpoint-md) {

        .btn-toggle {
            display: flex;
            flex-direction: row;
        }

        


    }

    @media (max-width: $breakpoint-lg) {

        .logo {
            width: 80px;
        }

    }

    @media (max-width: $breakpoint-xl) {

        .heroImgMobile {
            display: inline;
        }
    }

}

#root {
    height: 100%;
}

.footerSection {
    text-align: center;
}

.footer, .header {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
